!/vendor

/vendor/*
!/vendor/laravel

/vendor/laravel/*
!/vendor/laravel/framework

/vendor/laravel/framework/*
!/vendor/laravel/framework/src

/vendor/laravel/framework/src/*
!/vendor/laravel/framework/src/Illuminate

/vendor/laravel/framework/src/Illuminate/*
!/vendor/laravel/framework/src/Illuminate/Database

/vendor/laravel/framework/src/Illuminate/Database/*
!/vendor/laravel/framework/src/Illuminate/Database/Eloquent

/vendor/laravel/framework/src/Illuminate/Database/Eloquent/*
!/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php

/node_modules
Homestead.yaml
Homestead.json
.env
/storage/database.sqlite
/storage/uploads
/storage/logs
gitpull.sh
.idea
php_errors.log
/_ide_helper.php
.vscode
composer.lock
public/img/warehouse
tools/db/local
.DS_Store
/public/hot
/storage/*.key
/vendor
/.vagrant
npm-debug.log